.idea/*.xml
.idea/libraries/*.xml
*.xml
*.xml
.idea
*.csstarget/
*.css
target/surefire-reports/old/**/*.html
target/surefire-reports/**/*.html
target/*
target/**/**/**/**/*.lst
target/*.lst
target/*.png
target/*.gif
target/*.js
target/*.jar
target/*.properties
target/*.txt
target/*.feature
target/*.class
